<?xml version="1.0" encoding="UTF-8"?>

<launch>

	<!--deve ser configurado em simulação.launch-->
	<arg name="world_name_global" default="worlds/empty.world"/>

	<!--Para iniciar o scanunifier, defina o valor como true-->
	<arg name="scanunifier" value="true"/>

	<!--Para mover o robô usando teleop_keyboard-->
	<arg name="software_joystick" value="true"/> 

<!---=================================================================================================================================================================-->

	<!-- Variáveis Gazebo --> 
	<arg name="world" default="empty"/> 
	<arg name="paused" default="false"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="gui" default="true"/>
	<arg name="headless" default="false"/>
	<arg name="debug" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find robot_nav)/worlds/small_warehouse.world"/>
    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="true"/>
  </include>
<!---=================================================================================================================================================================-->

	<!--Descrição do robô para o servidor de parâmetros-->
	<param name="robot_description" command="$(find xacro)/xacro '$(find robot_nav)/robots/robot.urdf.xacro'"/>

	<node name="spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
	args="-urdf -param robot_description -model robot" />	

	<!--Para publicar o estado Joint e Robot-->

	<include file="$(find robot_nav)/configs/controller/launch/controller_utils.launch"/>

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
		<param name="rate" value="100.0"/>
	</node>

	<!--Lançamento de controladores de roda-->

	<rosparam file="$(find robot_nav)/configs/controller/wheel_controller.yaml" command="load"/>
	<node name="wheel_controller_spawner" pkg="controller_manager" type="controller_manager" 
	args="spawn omni_wheel_front_left_controller omni_wheel_front_right_controller omni_wheel_back_left_controller omni_wheel_back_right_controller" respawn="false" output="screen"/>

	<!--Iniciando o nó de cinemática-->

	<!--cinemática-->
	<include file="$(find robot_nav)/configs/kinematics/kinematics.launch"/> 

	<!--sensores-->

	<!--teleoperacao-->
	<!--<include file="$(find robot_nav)/configs/teleop/teleop.launch"/>-->
	<group if="$(arg software_joystick)">
   		<node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_keyboard"  output="screen">
  		</node>
 	</group>

	<!--launch web-->
	<include file="$(find robot_nav)/launch/web.launch"/>

	<!--launch rviz_navegation-->
	<include file="$(find robot_nav)/launch/rviz_navigation.launch"/>

	<!--execute server.py-->
	<node name="server" pkg="robot_nav" type="server.py" output="screen"/>
</launch>
