<launch>
    <include file="$(find robot_nav)/launch/rosbridge.launch">
        <arg name="port" value="9090" />
        <arg name="websocket_external_port" value="$(env SLOT_ROSBRIDGE_PORT)" />
    </include>
    <node name="web_video_server" pkg="web_video_server" type="web_video_server">
        <param name="port" value="11315" />
    </node>
    <!--execute python server-->
    <node name="server" pkg="robot_nav" type="server.py" output="screen">
</launch>