<?xml version="1.0"?>
<launch>
	<arg name="sendTF" default="true"/>
	<param if="$(arg sendTF)" name="mecanum_node/sendTransform" value="true"/>
	<param unless="$(arg sendTF)" name="mecanum_node/sendTransform" value="false"/>
	<rosparam command="load" ns="mecanum_node" file="$(find robot_nav)/configs/kinematics/kinematics.yaml"/>
</launch>


